{% extends 'base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
{#    <script src="/static/script/jquery-1.10.2.js"></script>#}
    <script href="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>

    </script>
</head>
{% block content %}
<body>
<form action="" method="post" enctype="multipart/form-data">
    <p>设置测试项目名称：<input type="text" name="pro_name" value="{{ pro_name }}"/><label style="color: gray">说明：填写项目名称后会自动创建项目目录</label></p>
    <p>测试用例上传：<input type="file" name="case_file" value="{{ caseFile }}"/></p>
    <p>配置文件上传：<input type="file" name="config_file" value="{{ configFile }}"/></p>

    <p><input type="submit" value="执行测试"/></p>
    <p>
        {% if show_path %}
            <a href="{{ show_path }}" target="_blank">点击查看测试报告</a>
        {% endif %}
        {% if file_down %}
            <a href="{{ file_down }}" target="_blank">点击下载测试报告</a>
        {% endif %}
    </p>
    <p>查询日期：
        <input type="text" value="" id="date"/>
        <input type="hidden" value="{{ report_path }}" id="report_path"/>
        <input type="button" value="查询" onclick="q()"/>
        <script type="text/javascript">
            function q() {
                var date = document.getElementById("date").value;
                var report_path =  document.getElementById("report_path").value;
                window.location.href = '/getallpath?date='+date+'&report_path='+report_path;
            }
        </script>
    </p>
    <p>
        {% if pro_rep_all_path %}
            <a href="{{ file_down }}" target="_blank">点击查看用例/配置文件/测试报告</a></p>
            <table border="1">
            <tr>
                <th>文件名称</th>
                <th>点击查看</th>
                <th>点击下载</th>
                <th>点击发送至邮箱</th>
            </tr>
            {% for i in  pro_rep_all_path %}
                <tr>
                    <td>{{ i.0 }}</td>
                    <td><a href="{{ i.1 }}" target="_blank">点击查看</a></td>
                    <td><a href="{{ i.2 }}" target="_blank">点击下载</a></td>
                    <td></td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}
    </p>
</form>
</body>
{% endblock content %}
</html>